{% extends "header.html" %}
{% load static %}
{% block content %}


            
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Registration</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Registration</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <style>
                body {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #f4f4f4;
                }
                .con {
                    max-width: 600px;
                    margin: 50px auto;
                    padding: 20px;
                    background-color: #0F172B;
                    border-radius: 15px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
                h3 {
                    text-align: center;
                    margin-bottom: 20px;
                    color: #010101;
                }
                h1{
                    text-align: center;
                }
                label {
                    display: block;
                    margin-bottom: 5px;
                    color: #f4f4f4;
                    margin-left: 90px;
                }
                input[type="text"], input[type="number"], input[type="date"], input[type="password"], select {
                    width: 70%;
                    padding: 4px;
                    margin-left: 90px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 6px;

                }
                .m{
                
                    display: inline;
                    margin-bottom: 15px;
                    color: #f4f4f4;
                    margin-left: 40px;
              
                }
                .l1{

                    display: inline;
                    margin-bottom: 15px;
                    color: #f4f4f4;
                    margin-left: 80px;
                }
                .l{

                    display: inline;
                    margin-bottom: 15px;
                    color: #f4f4f4;
                    margin-left: 130px;
                }
                button {
                    background-color: #FEA116;
                    color: rgb(34, 31, 31);
                    padding: 10px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-left: 230px;
                }
                button:hover {
                    background-color: #060606;
                }
                h5{
                    color: white;
                    text-align: center;
                }
            </style>
            <div class="con">
                <h1><font color ="#FEA116">Register</font> </h1>
                {% for message in messages %}
                <h3 style="background-color: yellow;color:red;">{{message}}</h3>
                {% endfor %}
                <form id="reservationForm" method="post" action="{% url 'registration' %}">
                    {% csrf_token %}
                    <label for="First_name">First name:</label>
                    <input type="text" id="First_name" name="first_name" required>
                    <br>
                    <label for="Last_name">Last name:</label>
                    <input type="text" id="Last_name" name="last_name"required>
                    <br>
                    <label for="Email">Email:</label>
                    <input type="text" id="Email" name="email"required>
                    <br>
                    <label for="contact">Contact:</label>
                    <input type="text" id="Email" name="contact"required>
                    <br>
                    <label for="gender">Gender:</label>

                    <label for="male" class="l">Male</label>
                    <input type="radio" id="male" name="gender" value="M" required class="m">
                 
                    <label for="female" class="l1">Female</label>
                    <input type="radio" id="female" name="gender" value="F" class="m">
               
                    
                    <br>
                    <label for="Password">Password:</label>
                    <input type="password" id="Password" name="password1"required>
                    <br>
                    <label for="Confirm_Password">Confirm Password:</label>
                    <input type="password" id="Confirm_Password" name="password2"required>
                    <br><br>
                    <button type="submit"><a href=""><font color="white">Register</font></a></button>
                    <br><br>
                    <div>
                        <h5>Already Registered? <a href="{% url 'log' %}"><font color="#FEA116">Login</font></a></h5>
                    </div>
                </form>
            </div>




           {% endblock %}